/* SECTION VARIABLES */

:root {
  --custom-blue: rgb(0, 0, 255, 0.5);
}

/* !SECTION !VARIABLES*/


/* SECTION ELEMENTS */
body {
  background-image: url(https://i.pinimg.com/736x/c7/9c/38/c79c38cfc2e59bda476a4aa74f1bf99d.jpg);
  background-position: center;
  background-size: cover;
}

/* !SECTION !ELEMENTS*/

/* SECTION CLASSES */
.scoreboard {
  background-color: var(--custom-blue);
  min-height: 150px;
}

.score-btn {
  background-color: blue;
}

.reset-btn {
  background-color: red;
}

.border-settings {
  border: none;
  border-radius: 20px;
  color: white;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}


/* !SECTION !CLASSES*/

/* SECTION ID'S */



/* !SECTION !ID'S*/